<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="76407f01-c041-4f71-9380-1863cbaf8cf4" Publisher="CN=Nick" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RealEstateInspector.Windows</DisplayName>
    <PublisherDisplayName>Nick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RealEstateInspector.Windows.App">
      <m2:VisualElements DisplayName="RealEstateInspector.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="RealEstateInspector.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="RealEstateInspector.Background.SyncTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>